<?xml version="1.0" encoding="UTF-8"?>
<project name="springboot-javafx" default="all">
  
  
  <property file="springboot-javafx.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.egg"/>
    <include name="*.jar"/>
    <include name="*.ear"/>
    <include name="*.swc"/>
    <include name="*.war"/>
    <include name="*.ane"/>
    <include name="*.zip"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.1.8" value="${jdk.home.1.8}/bin"/>
  <path id="jdk.classpath.1.8">
    <fileset dir="${jdk.home.1.8}">
      <include name="jre/lib/charsets.jar"/>
      <include name="jre/lib/deploy.jar"/>
      <include name="jre/lib/ext/access-bridge-64.jar"/>
      <include name="jre/lib/ext/cldrdata.jar"/>
      <include name="jre/lib/ext/dnsns.jar"/>
      <include name="jre/lib/ext/jaccess.jar"/>
      <include name="jre/lib/ext/jfxrt.jar"/>
      <include name="jre/lib/ext/localedata.jar"/>
      <include name="jre/lib/ext/nashorn.jar"/>
      <include name="jre/lib/ext/sunec.jar"/>
      <include name="jre/lib/ext/sunjce_provider.jar"/>
      <include name="jre/lib/ext/sunmscapi.jar"/>
      <include name="jre/lib/ext/sunpkcs11.jar"/>
      <include name="jre/lib/ext/zipfs.jar"/>
      <include name="jre/lib/javaws.jar"/>
      <include name="jre/lib/jce.jar"/>
      <include name="jre/lib/jfr.jar"/>
      <include name="jre/lib/jfxswt.jar"/>
      <include name="jre/lib/jsse.jar"/>
      <include name="jre/lib/management-agent.jar"/>
      <include name="jre/lib/plugin.jar"/>
      <include name="jre/lib/resources.jar"/>
      <include name="jre/lib/rt.jar"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.1.8}"/>
  <property name="project.jdk.bin" value="${jdk.bin.1.8}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.1.8"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.8.0.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-annotations/2.8.0/jackson-annotations-2.8.0.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-core:2.8.7.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-core/2.8.7/jackson-core-2.8.7.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.8.7.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-databind/2.8.7/jackson-databind-2.8.7.jar"/>
  </path>
  
  <path id="library.maven:_jstl:jstl:1.2.classpath">
    <pathelement location="${path.variable.maven_repository}/jstl/jstl/1.2/jstl-1.2.jar"/>
  </path>
  
  <path id="library.maven:_junit:junit:4.12.classpath">
    <pathelement location="${path.variable.maven_repository}/junit/junit/4.12/junit-4.12.jar"/>
  </path>
  
  <path id="library.maven:_log4j:log4j:1.2.17.classpath">
    <pathelement location="${path.variable.maven_repository}/log4j/log4j/1.2.17/log4j-1.2.17.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-el:9.0.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-el/9.0.1/tomcat-embed-el-9.0.1.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest-core:1.3.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jcl-over-slf4j:1.7.21.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/jcl-over-slf4j/1.7.21/jcl-over-slf4j-1.7.21.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jul-to-slf4j:1.7.21.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/jul-to-slf4j/1.7.21/jul-to-slf4j-1.7.21.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:slf4j-api:1.7.25.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:slf4j-log4j12:1.7.21.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/slf4j-log4j12/1.7.21/slf4j-log4j12-1.7.21.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-log4j:1.3.8.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-log4j/1.3.8.RELEASE/spring-boot-starter-log4j-1.3.8.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-aop:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-aop/5.0.1.RELEASE/spring-aop-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-beans:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-beans/5.0.1.RELEASE/spring-beans-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-context:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-context/5.0.1.RELEASE/spring-context-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-core:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-core/5.0.1.RELEASE/spring-core-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-expression:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-expression/5.0.1.RELEASE/spring-expression-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-jcl:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-jcl/5.0.1.RELEASE/spring-jcl-5.0.1.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-test:5.0.1.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-test/5.0.1.RELEASE/spring-test-5.0.1.RELEASE.jar"/>
  </path>
  
  
  <!-- Application Server Libraries -->
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <pathelement location="${javac2.home}/javac2.jar"/>
    <pathelement location="${javac2.home}/jdom.jar"/>
    <pathelement location="${javac2.home}/asm-all.jar"/>
    <pathelement location="${javac2.home}/jgoodies-forms.jar"/>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/module_springboot-javafx.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.springboot-javafx, clean.artifact.springboot-javafx" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.springboot-javafx" description="build all modules"/>
  
  <target name="init.artifacts">
    <property name="artifacts.temp.dir" value="${basedir}/__artifacts_temp"/>
    <property name="artifact.output.springboot-javafx" value="${basedir}/classes/artifacts/springboot_javafx"/>
    <mkdir dir="${artifacts.temp.dir}"/>
    <property name="artifact.temp.output.springboot_javafx" value="${artifacts.temp.dir}/springboot_javafx.jar"/>
    <taskdef resource="com/sun/javafx/tools/ant/antlib.xml" uri="javafx:com.sun.javafx.tools.ant" classpath="${jdk.home.1.8}/lib/ant-javafx.jar"/>
  </target>
  
  <target name="clean.artifact.springboot-javafx" description="clean springboot-javafx artifact output">
    <delete dir="${artifact.output.springboot-javafx}"/>
  </target>
  
  <target name="artifact.springboot-javafx" depends="init.artifacts, compile.module.springboot-javafx" description="Build &#39;springboot-javafx&#39; artifact" xmlns:fx="javafx:com.sun.javafx.tools.ant">
    <mkdir dir="${artifact.output.springboot-javafx}"/>
    <copy todir="${artifact.temp.output.springboot_javafx}">
      <fileset dir="${springboot-javafx.output.dir}"/>
    </copy>
    <mkdir dir="${artifact.temp.output.springboot_javafx}/lib"/>
    <copy file="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-annotations/2.8.0/jackson-annotations-2.8.0.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jackson-annotations-2.8.0.jar"/>
    <copy file="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-core/2.8.7/jackson-core-2.8.7.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jackson-core-2.8.7.jar"/>
    <copy file="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-databind/2.8.7/jackson-databind-2.8.7.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jackson-databind-2.8.7.jar"/>
    <copy file="${path.variable.maven_repository}/jstl/jstl/1.2/jstl-1.2.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jstl-1.2.jar"/>
    <copy file="${path.variable.maven_repository}/junit/junit/4.12/junit-4.12.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/junit-4.12.jar"/>
    <copy file="${path.variable.maven_repository}/log4j/log4j/1.2.17/log4j-1.2.17.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/log4j-1.2.17.jar"/>
    <copy file="${path.variable.maven_repository}/org/slf4j/jul-to-slf4j/1.7.21/jul-to-slf4j-1.7.21.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jul-to-slf4j-1.7.21.jar"/>
    <copy file="${path.variable.maven_repository}/org/slf4j/slf4j-log4j12/1.7.21/slf4j-log4j12-1.7.21.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/slf4j-log4j12-1.7.21.jar"/>
    <copy file="${path.variable.maven_repository}/org/slf4j/jcl-over-slf4j/1.7.21/jcl-over-slf4j-1.7.21.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/jcl-over-slf4j-1.7.21.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-log4j/1.3.8.RELEASE/spring-boot-starter-log4j-1.3.8.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-boot-starter-log4j-1.3.8.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-context/5.0.1.RELEASE/spring-context-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-context-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-el/9.0.1/tomcat-embed-el-9.0.1.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/tomcat-embed-el-9.0.1.jar"/>
    <copy file="${path.variable.maven_repository}/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/hamcrest-core-1.3.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-core/5.0.1.RELEASE/spring-core-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-core-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-beans/5.0.1.RELEASE/spring-beans-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-beans-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-aop/5.0.1.RELEASE/spring-aop-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-aop-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-jcl/5.0.1.RELEASE/spring-jcl-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-jcl-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-expression/5.0.1.RELEASE/spring-expression-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-expression-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/springframework/spring-test/5.0.1.RELEASE/spring-test-5.0.1.RELEASE.jar" tofile="${artifact.temp.output.springboot_javafx}/lib/spring-test-5.0.1.RELEASE.jar"/>
    <copy file="${path.variable.maven_repository}/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar" tofile="${artifact.temp.output.springboot_javafx}/slf4j-api-1.7.25.jar"/>
    <fx:fileset id="all_but_springboot_javafx" dir="${artifact.temp.output.springboot_javafx}" includes="**/*.jar">
      <exclude name="springboot_javafx.jar"/>
    </fx:fileset>
    <fx:fileset id="all_springboot_javafx" dir="${artifact.temp.output.springboot_javafx}" includes="**/*.jar"/>
    <fx:application id="springboot_javafx_id" name="springboot-javafx" mainClass="books.library.Application"/>
    <fx:jar destfile="${artifact.temp.output.springboot_javafx}/springboot_javafx.jar">
      <fx:application refid="springboot_javafx_id"/>
      <fileset dir="${artifact.temp.output.springboot_javafx}" excludes="**/*.jar"/>
      <fx:resources>
        <fx:fileset refid="all_but_springboot_javafx"/>
      </fx:resources>
      <manifest>
        <attribute name="Implementation-Title" value=""/>
        <attribute name="Implementation-Version" value=""/>
        <attribute name="Implementation-Vendor" value=""/>
      </manifest>
    </fx:jar>
    <fx:deploy width="600" height="400" updatemode="background" outdir="${artifact.temp.output.springboot_javafx}/deploy" outfile="springboot_javafx">
      <fx:application refid="springboot_javafx_id"/>
      <fx:resources>
        <fx:fileset refid="all_springboot_javafx"/>
      </fx:resources>
    </fx:deploy>
    <copy todir="${artifact.output.springboot-javafx}">
      <fileset dir="${artifact.temp.output.springboot_javafx}/deploy"/>
    </copy>
    <delete includeemptydirs="true">
      <fileset dir="${artifact.temp.output.springboot_javafx}"/>
    </delete>
  </target>
  
  <target name="build.all.artifacts" depends="artifact.springboot-javafx" description="Build all artifacts">
    
    <!-- Delete temporary files -->
    <delete dir="${artifacts.temp.dir}"/>
  </target>
  
  <target name="all" depends="build.modules, build.all.artifacts" description="build all"/>
</project>